#saisie {
    padding: 1em;
}

div.coords {
    margin: 5px;
}

.pure-form-message-inline {
    display: none
}

.pure-u-2-3{
    width : 50%;
}

.erreur label {
    color: crimson;
}

.erreur input {
    color: red;
}

div#saisie.pure-g{
    margin:auto;
    width : 70%;
}

.pure-u-1{
    margin-bottom:2%;
}

div#canvas {
    background: green;
    margin: auto;
    margin-bottom: 5%;
    width: 1000px; 
    height: 500px;
}

#debug-bar{
    text-align: center;
    padding-bottom: 2%;
}
table{
    margin: auto;
}
td{
    text-align: center;
    padding-top: 2%;
    width:20%;
}
